// main colors
$clean: #A7D2CB;
$butter: #F2D388;
$salmon: #C98474;
$eggplant: #874C62;


body {
    font-family: 'Khula', sans-serif;
 
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.navbar-nav > li > a{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}
.navbar-custom { 
    background-color: $clean; 
} 

.mainbody{
    height: 80%;
    width: 100%;
}
.navbar-logo {
    font-weight: 900;
    margin-left: 10px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

.sidenav {
      background-color: #f1f1f1;
      height: 100%;
}


/* Set black background color, white text and some padding */
footer {
      background-color: $eggplant; 
      color: white;
      padding: 15px;
      height: 80px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    } 
}

.li{
    color: white;
}

/*carousel images homepage*/
.item{
    min-height: 300px; 
    height: 550px;
    background-size: cover; 
    background-position: center center; 
}

.btn-primary {
    color: white !important;
    /*text-align: center;
    border-color: $eggplant;
    background-color: $salmon;
    border-radius: 10px;
    width: 250px;
    max-width: 100%;
    font-size: 20px;*/
}

.btn-primary:hover{
    background-color: $clean;
}

/* Homepage items */
.homepageAllergenes{
    background-size: cover; 
    background-position: center center; 
    display: block;
    min-height: 20px; 
    height: 100px;
    margin: 0 auto;
}

.threeColumnsHome{
 margin-top: 2em;
 margin-bottom: 2em;

}


/* Checkout page */
.checkout-main {
    margin: 20px;
}
.checkout-main .row {
    padding: 15px;
}
.checkout-main .row * {
    vertical-align: middle;
}
.checkout-total-row {
    background-color:$butter;
<<<<<<< HEAD
    border: $salmon 2px solid;
}
.checkout-total-row h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

.thumbnail-small {
    width: 100px;
    height: 100px;
}

.food-card * {
    color: #444;
}
.food-card:hover {
    text-decoration: none !important;
}

/* list page */
.food-card .panel:hover {
    border-color: #999;
=======
    
>>>>>>> 2dac5ee9f9b354bd95e42575c32eab612ebc8053
}